/* Paleta de colores */
:root {
    --primario: #058789; /* Fondo principal del formulario */
    --secundario: #503d2e; /* Botón y texto principal */
    --fondo: #f0ecc9; /* Fondo general */
    --texto: #d54b1a; /* Texto destacado */
    --texto-secundario: #6C757D; /* Texto secundario */
    --realce: #e3a72f; /* Hover y bordes destacados */
}

/* Estilo básico */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--fondo);
    color: var(--texto);
    line-height: 1.6;
    padding: 20px;
}

h1 {
    text-align: center;
    color: var(--primario);
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Formulario */
#form-filtros {
    background: var(--primario);
    color: var(--fondo);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

#form-filtros label {
    font-weight: bold;
}

#form-filtros input,
#form-filtros select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--realce);
    border-radius: 8px; /* Incrementa el redondeo */
    background: var(--fondo);
    color: #2C2C2C; /* Mejora la legibilidad del texto */
}

#form-filtros button {
    background: var(--secundario);
    border: none;
    color: var(--fondo);
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1rem;
    transition: background 0.3s ease; /* Añade suavidad al hover */
}

#form-filtros button:hover {
    background: var(--realce); /* Resalta con el color de realce */
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

table th,
table td {
    padding: 15px;
    border-bottom: 1px solid var(--secundario);
    text-align: left;
}

table thead {
    background: var(--primario);
    color: var(--fondo);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

table tbody tr {
    transition: background 0.3s ease, color 0.3s ease;
}

table tbody tr:nth-child(even) {
    background: #f9f9f9;
}

table tbody tr:hover {
    background: #D8F3DC; /* Color pastel para hover */
    color: var(--secundario);
}

/* Form divider */
.form-divider {
    height: 1px;
    background: var(--realce);
    margin: 10px 0;
}

#paginacion button {
    margin: 5px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
}
#paginacion span {
    margin: 0 10px;
    font-weight: bold;
}

#loading-indicator {
    font-family: Arial, sans-serif;
    color: var(--texto-secundario);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#loading-indicator svg {
    margin: 0 auto;
    display: block;
    width: 48px;
    height: 48px;
}

@keyframes loader8 {
    0% {
        transform: scale(1) rotateZ(0);
    }
    50% {
        transform: scale(1.5) rotateZ(180deg);
    }
    100% {
        transform: scale(1) rotateZ(360deg);
    }
}

/* Estilo para el grupo del indicador de carga */
.loading-icon {
    animation: loader8 1s cubic-bezier(0.72, 0.08, 0.38, 0.87) infinite both;
    transform-origin: center;
}

/* Responsivo */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }

    #form-filtros {
        padding: 15px;
    }

    table th,
    table td {
        font-size: 0.9rem;
        padding: 8px;
    }

    #loading-indicator svg {
        width: 36px;
        height: 36px;
    }
}






